<roundcube:if condition="!env:framed || env:extwin" />
</div>
<roundcube:if condition="config:support_url" />
<a href="<roundcube:var name='config:support_url' />" target="_blank" id="supportlink" class="hidden"><roundcube:label name="support" /></a>
<roundcube:endif />
<roundcube:endif />

<!-- Message Component -->
<div class="message-container">
    <roundcube:object name="message" id="messagestack" />
</div>

<style>
    .message-container {
        position: fixed; /* Fixed position to stay at the top of the viewport */
        top: 7%; /* Adjust distance from the top */
        left: 60%; /* Center horizontally */
        transform: translateX(-50%); /* Correct centering */
        z-index: 1000; /* Ensure it's above other elements */
        display: none; /* Default hidden for smaller screens */
        max-width: 80%; /* Optional: Limit width for readability */
        text-align: center;
        padding: 10px; /* Optional: Add padding for spacing */
        border-radius: 8px; /* Optional: Rounded corners */
    }

    @media (min-width: 992px) { /* Large devices, >= 992px */
        .message-container {
            display: block; /* Show only on large screens */
        }
    }
</style>

<script src="/deps/bootstrap.bundle.min.js"></script>
<script src="/ui.js"></script>

</body>
</html>
